Package: IPWatcher
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Nick Rizzo (NRizzoInc) <rizzo.n@nickmike55@gmail.com>
Description: Detects Public IP Changes & Triggers a Customizable Action
