[Unit]
Description=Detects Public IP Changes & Triggers a Customizable Action
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/bin/bash /usr/bin/WatchIP.sh --watch
RestartSec=1min

[Install]
WantedBy=multi-user.target
