[Unit]
Description=Detects Public IP Changes & Triggers a Customizable Action
After=network-online.target
Requires=network-online.target

[Service]
# change the number after "watch" to set the interval (in seconds)
ExecStart=/bin/bash /usr/bin/WatchIP.sh --watch 3600
RestartSec=1min

[Install]
WantedBy=multi-user.target
